@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Bronnikov A. - Team leader  <br />
        Grishin A. - Architect  <br />
        Nekrasov V. - Tester  <br />
    </p>
</div>
